*{
   opacity:1;
}

section{
    padding-top: 150px !important;
    transition: all .3s;
    position: relative;
    bottom: 0;
    opacity: 0;
    z-index: 99;
}
.section_ani{
    animation: section_animation 1s 1 alternate forwards;
}
@keyframes section_animation {
    from{
        bottom: -500px;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
}

.center_content{
    width: 100%;
    padding:0 6%;
    margin: 0 auto;
}
.text-grey{
    color: gray ;
}
.btn_register{
    background-color: white;
    padding: 7px 25px;
    border: 1px solid white;
    border-radius: 7px;
    transition: all .3s;
}
.btn_register:hover{
    background-color: black;
    border: 1px solid white;
    color: white;

}
.btn_read_more{
    background-color: black;
    color: white;
    padding: 7px 25px;
    border: 1px solid white;
    transition: all .3s;
}
.btn_read_more:hover{
    background-color: yellow;
    border: 1px solid yellow;
    color: black;

}
#home,#about{
    font-size: 3.5rem;
}

@media screen and (max-width: 480px) {
    #home,#about{
        font-size: 2.5rem;
    }
  }

  .vision-box{
    background-image: url('https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YnVzaW5lc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60');
    height: 50vw;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .vision{
    font-size: 4vw;
    color: white;
    font-weight: bold;
    position: relative;
    top:75%;
    padding-left: 20px;
  }
  
  .vision-message{
    height: fit-content;
    width: 60vw;
    background-color: rgb(255, 204, 0);
    opacity: 1;
    color: white;
    font-weight: bold;
    float: right;
    margin-top:1.4vw;
    font-size: 1.4vw;
    padding: 25px;
    position: absolute;
    right: 0%;
    }

    #events{
        text-align: center;
        align-items: center;
        height: 40vw;
    }

    .text-yellow{
        color: rgb(255, 204, 0);
    }

    .events_message{
        font-size: 3.5rem;
    }
    
    .gallery{
        height: 60vw;
        width: 90%;
        margin: 5vw;
        text-align: center;
        border: 1px solid white;
        padding-left: 10%;
    }
    .gallery_column{
        display: flex;
        flex-direction: column;
        float: right;
        padding-right: 20%;
}
    .gallery_row{
        display: flex;
        flex-direction: row;   
}
    #img1{
        height: 16vw;
        width:100%;
        margin: 1vw;
}
    #img2{
        height: 34vw;
        width: 30%;
        margin-top: 1vw;
        margin: 1vw;
}
    #img3{
        height: 16vw;
        width:100%;
        margin: 1vw;
}
    #img4{
        height: 16vw;
        width:100%;
        margin: 1vw;
}
    #img5{
        height: 16vw;
        width:100%;
        margin: 1vw;
}
.achievemessage{
    font-size: 3.5rem;
}

.trophy{
    position: absolute;
    right: 1vw;
    filter: grayscale(100%);
    top: -10px;
    overflow: hidden;
    z-index: -1;
    height:99%;
    transform: rotate(-30deg);
}
.team_img{
    position: relative;
}
.member_name{
    position: absolute; 
    bottom: 20px;
}
.smlogo{
    position: absolute; 
    bottom: 0px;
}
.btn_more_team{
    background-color: #ffc107;
    color: black;
    
    padding: 7px 25px;
    border: 1px solid black;
    transition: all .3s;
}
.btn_more_team:hover{
    background-color: yellow;
    border: 1px solid yellow;
    color: black;

}

.card{
    border: transparent !important;
    border-radius: 2rem !important;
    box-shadow: 5px 5px 15px 0px rgba(50, 50, 50, 0.7);
}
.card:hover{
    transform: scale(1.01);
}
.team_img{
    border-radius: 2rem;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

