section{
    padding-top: 170px !important;
}
.center_content{
    width: 100%;
    padding:0 80px;
    margin: 0 auto;
}
.description{
    display: flex;
    flex-direction: column;
    
}

.text-grey{
    color: gray;
}